/* 
    Document   : andmanage
    Author     : Yuri Alekseev
    Description:
        Purpose of the stylesheet follows.
*/

/**********************
Basic
**********************/

/**--------  Fonts  --------**/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

a {
    color: #004586;
    outline: none !important;
}

a.active {
    text-decoration: underline !important;
}

hr {
    border: 0;
    border-bottom: 3px dotted #000;
}

/**--------  body  --------**/

/**********************
Header
**********************/

/**--------  navbar, brand, subnav   --------**/

.navbar .nav > li > a, .navbar .dropdown-menu a {
    text-shadow: none;
    text-decoration: none;
}

.navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover {
    color: #E5E5E5;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .dropdown-menu .active > a {
    color: #FF950E;
}

.navbar {
    font-weight: 700;
}

.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #222222;
}

/**--------  dropdown menu  --------**/

.dropdown.open .dropdown-toggle {
    background-color: #96b2bb !important;   
}

.dropdown-menu {
    background-color: #91A9BC;
}

.dropdown-menu a:hover {
    background-color: #96b2bb !important;
}

/**--------  dropdown menu end --------**/ 
.navbar .open .dropdown-toggle, .navbar .open .dropdown-toggle, .navbar > .open.active > a:hover {
    background-color: #7AA53C;
}

.navbar-brand img{
    height: 30px;
}

.subnav ul{
    background: #CCCCCC;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #8298A9;
}

.subnav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.subnav ul li a.active{
    color: #7E0021;
}


/**********************
Page-content
**********************/

.page-content .col-md-9,
.page-content .col-md-12{
    background-color: #FBFBFB;
}

section.page-content.container {
    border: 1px solid #e5e5e5;
}

/**********************
Side block
**********************/

.panel.panel-side{
    background-color: #96b2bb;
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: rgba(150, 178, 187, 0.95);
    -pie-background-color: rgba(150, 178, 187, 0.95);
}

.panel.panel-side .panel-heading {
    background-color: #91A9BC;
}

.panel.panel-side, .panel.panel-side h3 a
.profile-menu a, .panel-side .list-group-item a {
    color: #FFF !important;
}

.panel-side .list-group-item {
    background: none;
}

.panel-side .active.list-group-item,
.panel-side .list-group-item:hover {
    background-color: #91A9BC;
}

.panel-side .active.list-group-item a,
.panel-side .list-group-item a:hover {
    text-decoration: none !important;
}

/**********************
Index
**********************/

.news-block {
    background-color: #fff;
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: rgba(255, 255, 255, 0.95);
    -pie-background-color: rgba(255, 255, 255, 0.95);
}

.news-block h2 {
    border-bottom: 2px dotted #000;
}

.news-block h2 a,
.news-block .nav-tabs li a{
    color: #000000;
}

.news-block .nav-tabs li a:hover {
    text-decoration: underline;
}

.news-block .nav-tabs li img.miniature {
    border: solid #000000 3px;
}

.close-carousel, .close-rest {
    color: white;
    text-shadow: none;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.close-carousel a, .close-rest a {
    color: white;
}

.close-tree {
    background: #eee;
    border: rgb(229, 229, 229) solid 1px;
}

.close-tree a, .close-tree a:hover {
    color: #333;
}


/**********************
Footer
**********************/

.footer-nav {
    background-color: #d0d0d0;
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: rgba(208, 208, 208, 0.95);
    -pie-background-color: rgba(208, 208, 208, 0.95);
}

.footer-links-menu li a {
    color: #ffffff;
    font-weight: bold;
}

.footer-copyright {
    background-color: #fff;
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: rgba(255, 255, 255, 0.95);
    -pie-background-color: rgba(255, 255, 255, 0.95);
}

footer.footer {
    background-color: #fff;
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: rgba(255, 255, 255, 0.95);
    -pie-background-color: rgba(255, 255, 255, 0.95);
}

footer.footer a {
    color: #000000;
    font-weight: 500;
}

.content > figure, .c-b-inline-block, .single.photos{
    background-color: #d0d0d0;
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: rgba(208, 208, 208, 0.95);
    -pie-background-color: rgba(208, 208, 208, 0.95);
    border: 1px solid #000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.content img.miniature {
    border: solid #000000 7px;
}

.content > blockquote, .intro blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content table {
    border-top: 2px solid #CCC;
}

.content table thead, 
.content table tr {
    border-bottom: 1px solid #CCC;
}

.popup-content h4 {
    font-family: "Arial Black",sans-serif;
}

/**********************
Проверка стилей
**********************/

.btn-more {
    color: white;
    background-color: #273810;
}

.btn-more:hover {
    text-decoration: none;
    color: #86AC4D;
}

.page-content .btn:hover {
    background: #428bca;
    color: white;
}

a.active {
    font-weight: bolder !important;
}

/*--------------------------------------------------
*      Альбом
*--------------------------------------------------*/

.album.photos ul li.photo {
    background-color: #d0d0d0;
    opacity: 0.95;
    filter: alpha(opacity=95);
    background-color: rgba(208, 208, 208, 0.95);
    -pie-background-color: rgba(208, 208, 208, 0.95);
    border: 1px solid #000000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.single.photos {
    border: 1px solid #000;
}

.galleria-layer .inner {
    background: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.galleria-layer .inner h1,
.galleria-layer .inner h2,
.galleria-layer .inner p {
    color: #ffffff !important;
}

/*--------------------------------------------------
*      Слайдер
*--------------------------------------------------*/

.carousel-caption{
    background-color: #5AA70C;
    opacity: 0.90;
    filter: alpha(opacity=90);
    background-color: rgba(90, 167, 12, 0.90);
    -pie-background-color: rgba(90, 167, 12, 0.90);
}

.carousel-caption h1 {
    color: #fff;
}

/*--------------------------------------------------
*      Формы связи
*--------------------------------------------------*/

.contact-form.real-contact-form ul li .refresh,
input.find {
    background: #d0d0d0;
    border: 1px solid #000000;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    color: white;
}
/*--------------------------------------------------
*      &Manage
*--------------------------------------------------*/

/**------- Project manager styles -------**/

/*--------------------------------------------------
*      Стили блоков управления контентом в модальных окнах
*--------------------------------------------------*/

a.button {
    background-color: rgb(240, 240, 240);
    border: rgb(240, 240, 240) solid 2px;
    color: #004586;
}

/*--------------------------------------------------
*      Контекстное меню
*--------------------------------------------------*/

/* Класс контекстного меню: */
.context-menu {
    background-color: #fff; /* Цвет фона меню */
    border: 1px solid #333; /* Граница */
    /* Немного красивостей. Добавляем тень для нашего меню, что бы визуально отобразить его слегка выше остальных элементов страницы: */
    -moz-box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
    box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
}

.context-menu ul li { 
    background-color: #fff; 
}

/* Стили для ссылок пунктов меню: */
.context-menu ul li a { 
    color: #333; 
    text-decoration: none; 
}

.context-menu ul li a:hover { 
    background-color: #eee; 
}

.context-menu-item.hover {
    background-color: #91A9BC;
}

/*--------------------------------------------------
*      Стили структуры проекта и управления структурой
*--------------------------------------------------*/

.structure-edit ul li:hover:not(.tree-node) {
    color: #8298A9;
}

/* Стили полей ввода */

#project-editor .field {
    border: rgb(229, 229, 229) solid 1px;
}
/*--------------------------------------------------
*      @media-стили
*--------------------------------------------------*/


@media (min-width: 560px) and (max-width: 979px) {
    .navbar .nav > li > a,
    .navbar .dropdown-menu a {
        color: #999999;
    }
    .navbar .nav > li > a:hover,
    .navbar .dropdown-menu a:hover {
        background-color: #222222;
    }
    .navbar .dropdown-menu {
        background-color: transparent;
    }
    .navbar-form {
        border-top: 1px solid #222222;
        border-bottom: 1px solid #222222;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    }
}

/* 
    Document   : andpicture
    Created on : 03.12.2012, 20:14:02
    Author     : Yuri Alekseev
    Description:
        Purpose of the stylesheet follows.
*/


/**********************
Content
**********************/

.prev, .next {
    background-image: url(../img/ico_arrows.gif);
    background-repeat: no-repeat;
}

.thumbnail {
    border: 1px solid #273810;
}

.news-block {
    background: rgba(195, 214, 155, 0.9);
}

.news-block h2 {
    border-bottom: 3px double black;
}

.news-block h2 a:hover {
    color: #273810 !important;
}

.news-block .nav-tabs li a:hover {
    background: rgba(195, 214, 155, 0.5);
    color: #273810 !important;
}

.more-news {
    color: #666;
}

.close-carousel, .close-rest {
    background: #244d54 url("../images/btn.png") left top repeat-x;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.close-carousel a, .close-rest a {
    color: white;
}

.footer-nav {
    background-color: rgba(173, 197, 216, 0.6);
    -pie-background-color: rgba(173, 197, 216, 0.6);
}

.footer-links-menu li a {
    color: #62738C;
}

.footer-copyright {
    background-color: rgba(142, 163, 178, 0.7);
    -pie-background-color: rgba(142, 163, 178, 0.7);
}

.navbar.footer h3.block-header {
    color: #62738C;
}

/* Cert block*/

.article-photos ul li.photo {
    background: rgba(195, 214, 155, 0.5);
    border: 1px solid #273810;
}

/*--------------------------------------------------
*      Articles
*--------------------------------------------------*/

.question-item.odd {
    background: rgba(195, 214, 155, 0.5);
    border: 1px solid #273810;
}

.article-right-block {
    background: rgba(195, 214, 155, 0.5);
    border: 1px solid #273810;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #273810;
}

.article-right-block ul li a {
    color: #2D5546;
}

/**------- Articles text editor styles -------**/


/**------- Articles text editor styles -------**/

/*--------------------------------------------------
*      Альбом
*--------------------------------------------------*/

.album.photos ul li.photo {
    background: rgba(173, 197, 216, 0.6) !important;;
}

/*--------------------------------------------------
*      Списки предметов группы
*--------------------------------------------------*/

.group-item  {
    background: #EBEEF4;
}

/*--------------------------------------------------
*      @media-стили
*--------------------------------------------------*/

@media (max-width: 480px) {
    .footer-links-menu li a {
        color: #62738C;
    }
}